<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Aurenix</title>
    <link rel="stylesheet" href="/css/seller.css">
    <link rel="stylesheet" href="/css/editProduct.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/customer.css">
</head>
<body>
    <div class="head">
     <strong class="siteName">AURENIX</strong>
     <div class="logout">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰</label>
        <div class="dropdown">
     <button class="hBtn" type="button" onclick="window.location.href = '/addProduct'">Add Product</button>
     <button class="hBtn" type="button" onclick="window.location.href = '/seeAllOrderSeller'">See Orders</button>
     <button class="hBtn"  type="button" onclick="window.location.href = '/logout'">Logout</button>
         </div>
     </div>
    </div>
<main>  