
<%- include("partials/headerStart") %>
    <div class="home">
    <h1 class="siteName">AURENIX</h1>
    <strong class="discription">Where Every Click Sparks Value</strong>
    <hr class="divider">
    <h2 class="h2">Select Your Role :</h2>
    <div class="logBtn">
    <button type="button" onclick="window.location.href='/customer'">Customer</button>
    <button type="button" onclick="window.location.href='/seller'">Seller</button>
    </div>
    </div>
<%- include("partials/footerStart") %>