<%- include("partials/headerStart") %>
    <div class="home">
    <h1 class="siteName">AURENIX</h1>
    <strong class="discription">Where Every Click Sparks Value</strong>
    <hr class="divider">
    <div class="logBtn">
    <button type="button" onclick="window.location.href ='/login'">Login</button>
    <button type="button" onclick="window.location.href ='/register'">Register</button>
    </div>
    <button type="button" onclick="window.location.href ='/auth/google'"><img class="googleSVG" src="/image/goog.svg" alt="img"> Login with Google</button>
    </div>  
    
<%- include("partials/footerStart") %> 