<%- include("partials/header") %>
<div class="crm">
  <h1 class="crmOrd">Hurray! Your order placed Successfuly.....</h1>
  <button class="crmBut" type="button" onclick="window.location.href='/customer'">See More Products</button>
  </div>
<%- include("partials/footer") %>
