<%- include("partials/headerStart") %>

    <h1>Set a Password for Your Account</h1>
    <form action="/set-password" method="POST">
      <input type="password" name="password" placeholder="Enter new password" required />
      <button type="submit">Set Password</button>
    </form>
    <p style="color:red;"><%= message %></p>
    
<%- include("partials/footerStart") %>